body {
    text-align: center;
    background-color: red;
    color: white;
    font-size: 50px;
    position: absolute;
    top: 30%;
    left: 30%;
}
p {
    font-size: 25px;
    color: azure;
    position: absolute;
    left: 0px;
}
.bottom {
    font-size: 25px;
    color: azure;
    position: absolute;
    left: 700px;
    margin: 0;
}
h1 {
    margin-bottom: 10px;
}
.domain {
    font-size: 30px;
    position: absolute;
    left: 25%;
    margin-top: 100px;

}